<div class="modal fade" id="cancel_reservation_<%= reservation.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Do you want to cancel this reservation ?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for(reservation, url: reservation_path(reservation), html: { method: :delete } ) do |f| %>
          <div class="form-group">
            <input id="cancel_reservation_message" name="cancel_reservation_message" type="text" autofocus="true" autocomplete="email" class='form-control form-control-user' placeholder="Optional. Cancellation message"/>
          </div>
          <%= f.submit "Cancel reservation", class: 'btn btn-block btn-danger' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
