<div class="card" style="margin-top: 20px;">
  <div class="card-header">
    <b>
      <%= @date.strftime('%d %B %Y') %>
    </b>
  </div>
  <div class="card-body">
    <div id="accordion">
      <% @available_time_slots.each do |hour, available_time_slots| %>
        <%= render partial: 'companies/partials/hour_card', locals: { hour: hour, available_time_slots: available_time_slots } %>
      <% end %>
    </div>
  </div>
</div>
